#sidemenu {
	background-color: #76c1d4;
	position: fixed;
	padding-left: 10px;
	top: 50px;
	width: 200px;
	line-height: 1.4em;
	z-index: 10;}
	
#sidemenu2 {
	text-indent: 25px;
	margin-top: -10px;}

#article {
	position: relative;
	left: 185px;
	padding-top: 5px;
	padding-left: 40px;
	padding-bottom: 40px;
	padding-right: 40px;
	width: 50%;
	background-color: #bccbde;
	z-index: 1;}
	
#article h2 {
	text-decoration: underline;}
	
#article h3 {
	text-decoration: underline;}
	
a:link {
	text-decoration: none;}