#sidemenu {
	background-color: #76c1d4;
	position: fixed;
	padding-left: 10px;
	top: 50px;
	width: 200px;
	line-height: 1.4em;
	z-index: 10;
	box-shadow: 3px 3px 3px #000000;}
	
#article {
	position: relative;
	left: 195px;
	top: 5px;
	bottom: 20px;
	padding-top: 5px;
	padding-left: 40px;
	padding-bottom: 40px;
	padding-right: 40px;
	width: 50%;
	background-color: #bccbde;
	z-index: 1;
	box-shadow: 8px 8px 8px #000000;}
	
#article h2 {
	text-decoration: underline;}
	
a:link {
	text-decoration: none;}

ul.subsection {
	margin-top: -10px;
	list-style-type: none;}

